<div class="max-w-3xl mx-auto">
  <div class="bg-white shadow rounded-lg p-6 mb-6">
    <div class="md:flex md:items-center md:justify-between mb-6">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl">New Book</h2>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <%= back_button(books_path) %>
      </div>
    </div>

    <div class="bg-white">
      <%= render 'form', book: @book %>
    </div>
  </div>
</div>